/* CSS Document */

/*******************************
 * Form */

#form {
    border:     1px solid #666;
    margin:     auto;
    padding:    5px;
    text-align: left;
}
.form-header {
    background:     url("/images/bar_header.png") center repeat-x;
    padding-left:   5px;
    padding-right:  5px;
    padding-top:    5px;
    padding-bottom: 5px;
    border:         1px solid #999;
    font-weight:    bold;
    background-size: 100% 100%;
}
.form-field {
    padding-left:  4px;
    padding-right: 4px;
    border:        1px solid #999;
} .form_options {
    text-align:    right;
    width:         850px;
    margin:        auto;
    margin-bottom: 10px;
}
.form_options a         { color: #900; }
.form_options a:link    { color: #900; }
.form_options a:visited { color: #900; }
.form_options a:hover   { color: #F00; }
.form_options a:active  { color: #F00; }
.form_options a:focus   { color: #F00; }

.dataTables_filter{
    margin: 0 auto;
    width: 836px;
    padding: 2px;
    background-color: lightgray;
}

.dataTables_filter label{
    margin-top: 7px;
    margin-right: 7px;
    font-weight: bold;
    font-size: 13px;
}

.dataTables_filter label input { 
    border: 1px solid #c4c4c4; 
    height: 20px; 
    width: 200px; 
    font-size: 14px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
    text-align: center;
    font-style:italic;
    font-weight: bold;
} 

.dataTables_filter label input:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.dataTables_filter label input { 
    border: 1px solid #c4c4c4; 
    height: 20px; 
    width: 200px; 
    font-size: 14px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
    text-align: center;
    font-style:italic;
    font-weight: bold;
} 

.dataTables_filter label input:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

/*******************************
 * Variables Tables */

table.variables_table {
    padding:    0px;
    margin:     auto;
    text-align: left;
    border:     1px solid #666;
}

table.variables_table thead tr td {
    background:  url("/images/bar_header.png") center repeat-x;
    border:      1px solid #999;
    height:      20px;
    font-weight: bold;
    color:       #000;
}

table.variables_table tbody tr td {
    min-height:  20px;
    text-align:  left;
}

table.variables_table tbody tr.row_1 { border: none; background: #CCC; }